<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zehava.cityforest">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_CREDENTIALS" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/cf_small_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider android:authorities="com.facebook.app.FacebookContentProvider452071661893714"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <activity
            android:name=".Activities.CreateNewCoordinateActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="New Coordinate" -->

        <activity
            android:name=".Activities.EditorPanelActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!-- android:label="Editor Panel" -->

        <activity
            android:name=".Activities.EditCoordinateActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="Edit Coordinate" -->

        <activity
            android:name=".Activities.CreateNewTrackActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="New Track" -->


        <!-- android:label="Edit Tracks" -->

        <activity
            android:name=".Activities.EditTrackActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="Edit Track" -->

        <activity
            android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AdvancedSearchTracksActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="חיפוש מתקדם" -->

        <activity
            android:name=".Activities.SearchTracksResultsActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="תוצאות חיפוש" -->

        <activity
            android:name=".Activities.SelectedTrackMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SelectedTrackDetailsActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="יצירת מסלול חדש" -->

        <activity
            android:name=".Activities.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="אודות" -->

        <activity
            android:name=".Activities.ContactUsActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="צור קשר" -->

        <activity
            android:name=".Activities.UserGuideActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="מדריך למשתמש" -->

        <activity
            android:name=".Activities.TracksActivity"
            android:screenOrientation="portrait" />
        <!-- android:label="רשימת מסלולים" -->

        <activity
            android:name=".Activities.CreateUserUpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Activities.ChoosePointsOfInterestForTrack"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Activities.ImageFullScreenPreview"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MoveablePointActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Activities.PostListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PostActivity"
            android:screenOrientation="portrait"/>
        <service
            android:name=".UpdatesManagerService"
            android:exported="false" />
        <!-- android:label="" -->
        <activity
            android:name=".Activities.AlgoliaSearchActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activities.MyNavigationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activities.PointOfInterestGallary"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.MainActivity">
             <!--<intent-filter>-->
             <!--<action android:name="android.intent.action.MAIN" />-->


             <!--<category android:name="android.intent.category.LAUNCHER" />-->
             <!--</intent-filter>-->
        </activity>
    </application>

</manifest>